 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#entire-page > h3 {
 font-size: 2em;
}

.investments-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  background: linear-gradient(to right, #242424, #30197c);
  padding: 2em;
  border-radius: 6px;
}

.investments-content > * {
  margin-bottom: 1em;
}

.investments-content > h3 {
  font-size: 2em;
  text-shadow: 5px 3px 5px rgba(0, 0, 0, 0.3);
}

.investments-content > input {
  border-style: none;
  background-color: #f2f2f2;
  color: #181818;
  /* max-width: 25vh; */
  padding: 6px;
  border-radius: 6px;
  font-size: 1em;
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.3);
  outline: none;
}

.investments-content > div > input {
  border-style: none;
  background-color: #f2f2f2;
  color: #181818;
  /* max-width: 25vh; */
  padding: 6px;
  border-radius: 6px;
  font-size: 1em;
  margin-left: 6px;
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.3);
  outline: none;
}

.investments-content > span {
  font-size: 1.5em;
  text-shadow: 5px 3px 5px rgba(0, 0, 0, 0.3);
}

.investments-content > div > span {
  font-weight: 700;
  text-shadow: 5px 3px 5px rgba(0, 0, 0, 0.3);
}


